
[aria-label="Timeline: Your Home Timeline"] {
  visibility: hidden;
}

[aria-label="Timeline: Explore"] {
  visibility: hidden;
}

[aria-label="Timeline: Trending now"] {
  visibility: hidden;
}

[aria-label="Who to follow"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-1"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-2"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-3"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-4"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-5"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-6"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-7"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-8"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-9"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-10"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-11"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-12"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-13"] {
  visibility: hidden;
}

[aria-labelledby="accessible-list-14"] {
  visibility: hidden;
}
[href="/ry_serene/followers"]{
    visibility: hidden;
}
[aria-label="Notifications"]{
    visibility: hidden;
}
